[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST={{ secrets.AMQP_HOST }}
Environment=AMQP_USER={{ secrets.AMQP_USER }}
Environment=AMQP_PASS={{ secrets.AMQP_PASS }}
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target