[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT={{ secrets.CART_ENDPOINT }}
Environment=DB_HOST={{ secrets.DB_HOST }}
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target